.table-container{
    padding: 2rem;
    border: 2px solid rgb(224, 224, 224);
    width: 70rem;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}
@media (max-width: 768px) {
    .table-container{
        width: 18rem;
    }
}